:root{
  --greenbar: #0CBCA1;
  --bluebar: #1674ef;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andada Pro", sans-serif;
}

/* landing page */
/* navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbarbutton{
  display: flex;
}

.navbarbutton button{
  padding: 7px 15px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  
}

.navbarbuttoncolor{
  background-color: var(--greenbar);
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  color: var(--bluebar);
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}




/* hero */
.hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./pictures/hero-picture.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 50px;
  color: white;
}

.herocontainer{
  color: white;
  text-align: center;
  padding-top: 230px;
}

.herocontainer h1{
  padding-bottom: 20px;
  font-size: 80px;
  font-weight: bold;
}

.herocontainer p{
  font-size: 40px;
  font-weight: 100;
}


.signupcontainers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 200px;
}

.signupcontainer{
  background-color: var(--greenbar);
  height: 25vh;
  width: 25em;
  padding: 30px;
  margin: 50px;
  border-radius: 10%;
}

.signupcontainer{
  text-align: center;
}

.signupcontainer h1{
  padding-bottom: 20px;
}

.signupcontainer button{
  margin-top: 50px;
  padding: 20px 40px;
  border: none;
  background-color: var(--bluebar);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* Demo */
.demonavbar{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.demonavbarmenu{
  margin-right: 70px;
  color: black;
}

.demonavbarmenu a{
  padding: 7px 15px;
  margin-left: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.mylearningschedule{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.demoschedulecontainer{
  background-color: var(--greenbar);
  margin: 20px;
  padding: 20px;
}

.demoschedulecontainer h2{
  text-align: center;
  padding-bottom: 20px;
}

.demoschedule{
  display: flex;
}

.demoschedulecontainer div:nth-child(2n){
  background-color: var(--bluebar);
  color: white;
}

.demoschedule p{
  padding: 20px 40px;
}


/* suggested course */
.suggestedcourse{
  text-align: center;
  padding: 20px;
  
}


.suggestedcoursecontainers{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.suggestedcoursecontainer{
  margin: 20px;
  width: 400px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.suggestedcoursecontainer h1{
  color: white;
  padding-top: 40px;
}

.suggestedcoursecontainer p{
  color: white;
  padding-top: 10px;
}

.suggestedcourse button {
  padding: 10px 30px;
  font-size: 20px;
  background-color: var(--bluebar);
  color: white;
  border: none;
  cursor: pointer;
}

/* suggested mentor */
.suggestedmentor{
  background-color: whitesmoke;
  text-align: center;
  padding: 20px;
}

.suggestedmentorcontainers{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}


.suggestedmentorcontainer{
  width: 100%;
  max-width: 400px;
  margin: 2em auto;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 1rem;
    padding: 2rem;
}

.suggestedmentorpicturecard{
  position: relative;
  display: block;
  height: 400px;
  overflow: hidden;
  border-radius: 15px;
}

.suggestedmentorpicturecard img{
  width: 100%;
  height: 400px;
  overflow: hidden;
    border-radius: 15px;
    display: block;
    object-fit: cover;
}

.suggestedmentorcardcontent{
  padding: 20px;
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.suggestedmentorcardattribute{
    padding: 1em;
    border-top: 2px solid darkgray;
    display: flex;
    justify-content: space-between;
}


.suggestedmentorcardattribute button{
  background-color: var(--greenbar);
  border: none;
  padding: 5px 20px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.suggestedmentorbutton{
  padding: 10px 30px;
  font-size: 20px;
  background-color: var(--bluebar);
  color: white;
  border: none;
  cursor: pointer;
}

/* CourseFilter */
.filtercontainer{
  background-color: whitesmoke;
  padding: 20px;
  width: 25em;
}

.container{
  padding-top: 20px;
}

.filtercontainer button{
  margin-top: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

/* CourseContainer */
.coursecontainer{
  display: flex;
  flex-direction: row;
}
.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  margin: 10px;
}
.card h2 {
  margin: 0;
  padding: 0 1rem;
}
.card .title {
  padding: 1rem;
  text-align: right;
 color: var(--bluebar);
  font-weight: bold;
  font-size: 12px;
}
.card .desc {
  padding: 0.5rem 1rem;
  font-size: 12px;
}
.card .actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0.5rem 1rem;
}

.img-avatar {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
  top: 15px;
  left: 85px;
}

.img-avatar img{
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  border: 6px solid white;
  object-fit: cover;

}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: var(--greenbar);
  padding: 5px 3px;
  font-size: 12px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition:.5s;
  /* &:hover{
    color: #4CAF50  ;
    transform: rotate(22deg)
  } */
}

.coursesearchcontainer{
  display: flex;
  flex-direction: row;

}

.courseresultcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


/* signinpage */
.signincontainer{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border: 2px;
  width: 300px;
  height: 350px;
  background-color: whitesmoke;

}

.signincontainer h1{
  padding-top: 10px;
  text-align: center;
}

.usersignupcontainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.usersignupcontainer input{
  size: 5px;
}
.usersignupcontainer label{
  padding-top: 10px;
}

.usersignupcontainer button {
  margin-top: 10px;
}

.usersignupcontainer a{
  text-decoration-line: none;
  color: black;
  font-size: 12px;
  padding-top: 10px;
  cursor: pointer;
}

.signupfooter{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* logninpage */
.logincontainer{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  border: 2px;
  width: 300px;
  height: 350px;
  background-color: whitesmoke;

}

.logincontainer h1{
  padding-top: 10px;
  text-align: center;
}

.userlogincontainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.userlogincontainer input{
  size: 5px;
}
.userlogincontainer label{
  padding-top: 10px;
}

.userlogincontainer button {
  margin-top: 10px;
}

.userlogincontainer a{
  text-decoration-line: none;
  color: black;
  font-size: 12px;
  padding-top: 10px;
  cursor: pointer;
}

.loginfooter{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* mentordashboard */

.mentordashboardcontainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* mentor search */
.mentorssearchcontainer{
  display: flex;
}

.mentorssearch{
background-color: whitesmoke;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 5px;
margin: 10px;
}
